body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2,
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .booking-section {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-wrap: wrap; /* Allow wrapping if necessary */
  }
  
  .search-container,
  .booking-form {
    width: 100%;
    max-width: 400px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .search-form {
    display: flex;
    flex: 1;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px;
    outline: none;
  }
  
  button[type="submit"] {
    background-color: #f7f7f7;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
  }
  
  button[type="submit"]:hover {
    background-color: #eaeaea;
  }
  
  .booking-form {
    max-width: 400px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    background-color: #1abc9c;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #16a085;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .hotel-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .hotel {
    width: 200px; /* Fixed width for all images */
    height: 150px; /* Fixed height for all images */
    object-fit: cover;
    margin: 10px;
  }
  